<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WanderLust</display-name>
  <welcome-file-list>
    <welcome-file>BlackHeader.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchHotelByPlaceServlet</display-name>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchHotelByPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <url-pattern>/SearchHotelByPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightBySnDServlet</display-name>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchFlightBySnDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <url-pattern>/SearchFlightBySnD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseRoomServlet</display-name>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChooseRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <url-pattern>/ChooseRoom</url-pattern>
  </servlet-mapping>
</web-app>