<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WanderLust</display-name>
  <welcome-file-list>
    <welcome-file>BlackHeader.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchHotelByPlaceServlet</display-name>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchHotelByPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <url-pattern>/SearchHotelByPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightBySnDServlet</display-name>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchFlightBySnDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <url-pattern>/SearchFlightBySnD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseRoomServlet</display-name>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChooseRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <url-pattern>/ChooseRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePromoFlightServlet</display-name>
    <servlet-name>ChoosePromoFlightServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChoosePromoFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePromoFlightServlet</servlet-name>
    <url-pattern>/ChoosePromoFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePromoHotelServlet</display-name>
    <servlet-name>ChoosePromoHotelServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChoosePromoHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePromoHotelServlet</servlet-name>
    <url-pattern>/ChoosePromoHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mmt.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.mmt.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.mmt.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayWalletServlet</display-name>
    <servlet-name>DisplayWalletServlet</servlet-name>
    <servlet-class>com.mmt.controller.DisplayWalletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayWalletServlet</servlet-name>
    <url-pattern>/DisplayWallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyAdddedServlet</display-name>
    <servlet-name>MoneyAdddedServlet</servlet-name>
    <servlet-class>com.mmt.controller.MoneyAdddedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyAdddedServlet</servlet-name>
    <url-pattern>/MoneyAddded</url-pattern>
  </servlet-mapping>
</web-app>